#header {
    width: 911px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    /*border: 1px solid white;*/
}

#pagination a, #pagination strong {
    background: #e3e3e3;
    padding: 4px 7px;
    text-decoration: none;
    border: 1px solid #cac9c9;
    color: #292929;
    font-size: 13px;
}

#pagination strong, #pagination a:hover {
    font-weight: normal;
    background: #cac9c9;
}

#container {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin: auto;
    text-align: center;
}

body {
    background: #b6b6b6;
    margin: auto;
    font-family: arial;
}

#logo {
    background: url(../images/logo.png) repeat-x 0 0;
    margin: 10 10 auto;
    width: 300px;
    height: 100px;
    -moz-border-radius: 4px;
}

#top_menu {
    background: white;
    margin: -75 320 auto;
    width: 590px;
    height: 30px;
    -moz-border-radius: 10px;
}

#banner {
    background: url(../images/banner.png) repeat-x 0 0;
    margin: 80 0 auto;
    width: 600px;
    height: 300px;
    -moz-border-radius: 6px;
    overflow: auto;
}

#first_button {
    background: white;
    margin: -300 610 auto;
    width: 300px;
    height: 100px;
    -moz-border-radius: 5px;
}

#second_button {
    background: white;
    margin: 5 610 auto;
    width: 300px;
    height: 100px;
    -moz-border-radius: 5px;
}

#third_button {
    background: white;
    margin: 7 610 auto;
    width: 300px;
    height: 88px;
    -moz-border-radius: 5px;
}

#sub_video {
    width: 600px;
    margin: auto;

}

#video {
    background: white;
    margin: 7 -150 auto;
    width: 295px;
    -moz-border-radius: 5px;
}

#urm_eveniment {
    background: white;
    margin: -612 150 auto;
    width: 295px;
    -moz-border-radius: 5px;
}

#stiri {
    background: white;
    /*margin: auto;*/
    width: 300px;
    -moz-border-radius: 5px;
    overflow: visible;
}

#stiri2 {
    background: white;
    margin: 10 auto;
    width: 300px;
    -moz-border-radius: 5px;
    overflow: visible;
}

#right_side {
    width: 300px;
    margin: -475 935 0;
    /*border: 1px solid green;*/
}

#main_content {
    width: 600px;
    margin: -1370 330 0;
    text-align: left;
}
#articles {
    width: 600px;
    border: 1px solid white;

}

#copyright1 {
    width: 400px;
    margin: 0 200 0
}

#contact {
    width: 400px;
    margin: 0 100 0;
}

#linkuri {
    background: white;
    width: 910px;
    height: 200px;
    -moz-border-radius: 5px;
}

input[type=submit] {
    margin: -390 100 0;
}

#footer {
    width: 910px;
    margin: auto;

}