/****************** >     GENERAL BUTTON      < ******************/
button {
	border: 0; 
	cursor: pointer; 
	font-weight: bold;
	text-align: center;
	outline: 0;
}

button span { 
	position: relative; 
	display: block; 
	white-space: nowrap; 
	padding: 0 0 0 15px; 
	margin-right: 12px;
}

button.submitButton {
	background: url(../images/common/button-right.gif) right no-repeat; 
	font-weight: normal;
}
button.submitButton:hover {
	/*background: url(../images/submitBtn/button-right-hover.gif) right no-repeat; */
}

button.submitButton span { 
	font-size: 17px; 
	height: 25px; 
	line-height: 24px;
	background: url(../images/common/button-left.gif) left no-repeat;
	color: White; 
	font-weight: bold;
}
button.submitButton:hover span {
	/*background: url(../images/submitBtn/button-left-hover.gif) left no-repeat;*/
	color: White; 
}

* html button { 
	width: auto; 
	overflow: visible;
	position: relative;
	margin-top: -4px;
}

* html button span { 
	margin-top: 4px;
}

*:first-child+html button { 
	width: auto; 
	overflow: visible; 
}
 /*FOR IE7*/
*:first-child+html button{ 
	margin-top: -2px;
}
 /*FOR IE7*/
*:first-child+html button span{ 
	margin-top: 0px;
}





/****************** >     MAIN MENU      < ******************/
.main-menu a:link, .main-menu a:visited, 
#main-menu li a:link, #main-menu li a:visited {
	background:url(../images/common/link-main-menu-right.png) right top no-repeat; 
	display: block;
	padding:0 18px 0 0;
}

.main-menu a:link span, .main-menu a:visited span, 
#main-menu li a:link span, #main-menu li a:visited span {
	font-size: 12px;
	font-weight: bold;
	color: White;
	
	background:url(../images/common/link-main-menu-left.png) left top no-repeat; 
	position: relative; 
	display: block; 
	white-space: nowrap; 
	padding: 0 0 0 18px;
	height: 40px; 
	line-height: 50px;
	cursor: pointer;
}
* html .main-menu a:link span, * html .main-menu a:visited span, 
* html #main-menu li a:link span, * html #main-menu li a:visited span {
	line-height: 30px;
	padding-top: 10px;
	height: 30px; 
}

.main-menu a:hover, 
#main-menu li a:hover {
	background:url(../images/common/link-main-menu-right.png) right 100% no-repeat;
	text-decoration: none;
}
.main-menu a:hover span, 
#main-menu li a:hover span {
	background:url(../images/common/link-main-menu-left.png) left 100% no-repeat;
	text-decoration: none;
}

/* Active */
.main-menu a.active:link, .main-menu a.active:visited, 
#main-menu li a.active:link, #main-menu li a.active:visited {
	background:url(../images/common/link-main-menu-right-active.gif) right bottom no-repeat;
	padding:0 20px 0 0;
}

.main-menu a.active:link span, .main-menu a.active:visited span, 
#main-menu li a.active:link span, #main-menu li a.active:visited span {
	font-size: 14px;
	color: #019bce;
	
	background:url(../images/common/link-main-menu-left-active.gif) left bottom no-repeat;
	line-height: 40px;
}
* html .main-menu a.active:link span, * html .main-menu a.active:visited span, 
* html #main-menu li a.active:link span, * html #main-menu li a.active:visited span {
	line-height: 40px;
	padding-top: 0px;
	height: 40px; 
}

.main-menu a.active:hover, 
#main-menu li a.active:hover {
	background:url(../images/common/link-main-menu-right-active.gif) right bottom no-repeat;
}
.main-menu a.active:hover span, 
#main-menu li a.active:hover span {
	background:url(../images/common/link-main-menu-left-active.gif) left bottom no-repeat;
}





/****************** >     SUB MENU      < ******************/
#main-menu .submenu li a:link, #main-menu .submenu li a:visited {
	background:url(../images/common/link-submenu-right.gif) right -200px no-repeat; 
	display: block;
	padding:0 14px 0 0;
}

#main-menu .submenu li a:link span, #main-menu .submenu li a:visited span {
	font-size: 11px;
	font-weight: bold;
	color: #7b7979;
	
	background:url(../images/common/link-submenu-left.gif) left -200px no-repeat; 
	position: relative; 
	display: block; 
	white-space: nowrap; 
	padding: 0 0 0 14px;
	height: 25px; 
	line-height: 24px;
	cursor: pointer;
}

#main-menu .submenu li a.active:link, #main-menu .submenu li a.active:visited, 
#main-menu .submenu li a:hover {
	background:url(../images/common/link-submenu-right.gif) right no-repeat; 
	text-decoration: none;
}
#main-menu .submenu li a.active:link span, #main-menu .submenu li a.active:visited span, 
#main-menu .submenu li a:hover span {
	background:url(../images/common/link-submenu-left.gif) left no-repeat; 
	text-decoration: none;
	color: White;
}





/****************** >     SUB SUB MENU + HEADER LINKS      < ******************/
a.link-header:link, a.link-header:visited, 
#subsubmenu li a.active:link, #subsubmenu li a.active:visited, 
#subsubmenu li a:link, #subsubmenu li a:visited {
	background:url(../images/common/link-subsubmenu-right.gif) right no-repeat; 
	display: block;
	padding:0 13px 0 0;
}
a.link-header:link span, a.link-header:visited span, 
#subsubmenu li a.active:link span, #subsubmenu li a.active:visited span, 
#subsubmenu li a:link span, #subsubmenu li a:visited span {
	font-size: 11px;
	font-weight: bold;
	color: White;
	
	background:url(../images/common/link-subsubmenu-left.gif) left no-repeat; 
	position: relative; 
	display: block; 
	white-space: nowrap; 
	padding: 0 0 0 13px;
	height: 20px; 
	line-height: 20px;
	cursor: pointer;
}

a.link-header:hover, 
#subsubmenu li a.active:link, #subsubmenu li a.active:visited, 
#subsubmenu li a:hover {
	background:url(../images/common/link-header-right.gif) right no-repeat; 
	text-decoration: none;
}
a.link-header:hover span, 
#subsubmenu li a.active:link span, #subsubmenu li a.active:visited span, 
#subsubmenu li a:hover span {
	background:url(../images/common/link-header-left.gif) left no-repeat; 
	text-decoration: none;
	color: White;
}

/* Links Header */
a.link-header:link, a.link-header:visited {
	background:url(../images/common/link-header-right.gif) right no-repeat; 
}
a.link-header:link span, a.link-header:visited span {
	background:url(../images/common/link-header-left.gif) left no-repeat; 
}
a.link-header:hover {
	background:url(../images/common/link-subsubmenu-right.gif) right no-repeat; 
}
a.link-header:hover span {
	background:url(../images/common/link-subsubmenu-left.gif) left no-repeat; 
}





/****************** >     LINK ADD      < ******************/
a.link-add:link, a.link-add:visited {
	background:url(../images/common/link-add-right.png) right no-repeat; 
	display: block;
	padding:0 13px 0 0;
}

a.link-add:link span, a.link-add:visited span {
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	color: Black;
	
	background:url(../images/common/link-add-left.png) left no-repeat; 
	/*position: relative;*/
	display: block; 
	white-space: nowrap; 
	padding: 0 0 0 43px;
	height: 37px; 
	line-height: 37px;
	cursor: pointer;
}

a.link-add:hover {
	background:url(../images/common/link-add-right.png) right no-repeat; 
	text-decoration: none;
}
a.link-add:hover span {
	background:url(../images/common/link-add-left.png) left no-repeat; 
	text-decoration: none;
	color: #0fb602;
}





/****************** >     SIDE MENU      < ******************/
#sidemenu li div, #sidemenu li a:link, #sidemenu li a:visited {
	background:url(../images/common/link-sidemenu-right.png) right 0% no-repeat; 
	display: block;
	padding:0 11px 0 0;
}

#sidemenu li div span, #sidemenu li a:link span, #sidemenu li a:visited span {
	font-size: 12px;
	font-weight: bold;
	color: Black;
	
	background:url(../images/common/link-sidemenu-left.png) left 0% no-repeat; 
	/*position: relative; */
	display: block; 
	white-space: nowrap; 
	padding: 0 0 0 22px;
	height: 25px; 
	line-height: 24px;
	cursor: pointer;
}
#sidemenu li div span {
	cursor: auto;
	color: #aaaaaa;
}

#sidemenu li a.active:link, #sidemenu li a.active:visited, 
#sidemenu li a:hover {
	background:url(../images/common/link-sidemenu-right.png) right 100% no-repeat; 
	text-decoration: none;
}
#sidemenu li a.active:link span, #sidemenu li a.active:visited span, 
#sidemenu li a:hover span {
	background:url(../images/common/link-sidemenu-left.png) left 100% no-repeat; 
	text-decoration: none;
	color: White;
}





/****************** >     LINK TOGGLE SEARCH      < ******************/
a.link-toggle-search:link, a.link-toggle-search:visited {
	background:url(../images/common/link-toggle-search-right.png) right 50% no-repeat; 
	display: block;
	padding:0 10px 0 0;
}
a.link-toggle-search:link span, a.link-toggle-search:visited span {
	background:url(../images/common/link-toggle-search-left.png) left 50% no-repeat; 
	position: relative; 
	display: block; 
	height: 16px; 
}
a.link-toggle-search:link span em, a.link-toggle-search:visited span em {
	font-size: 9px;
	font-weight: normal;
	font-style: normal;
	color: #019bce;
	
	position: relative; 
	display: block; 
	white-space: nowrap; 
	padding: 0 0 0 23px;
	height: 16px; 
	line-height: 12px;
	cursor: pointer;
}
a.link-toggle-search span em.up {
	background:url(../images/common/arrow-toggle-search-up.gif) 10px 4px no-repeat;
}
a.link-toggle-search span em.down {
	background:url(../images/common/arrow-toggle-search-down.gif) 10px 5px no-repeat;
}

a.link-toggle-search:hover {
	background:url(../images/common/link-toggle-search-right.png) right 50% no-repeat; 
	text-decoration: none;
}
a.link-toggle-search:hover span {
	background:url(../images/common/link-toggle-search-left.png) left 50% no-repeat; 
	text-decoration: none;
}
a.link-toggle-search:hover span em {
	text-decoration: none;
	color: Black;
}





/****************** >     LINKS PAGES      < ******************/
a.link-page-active:link, a.link-page-active:visited, 
a.link-page:link, a.link-page:visited {
	background:url(../images/common/link-pages-right.gif) right -200px no-repeat; 
	display: block;
	padding:0 5px 0 0;
}

a.link-page-active:link span, a.link-page-active:visited span, 
a.link-page:link span, a.link-page:visited span {
	font-size: 10px;
	font-weight: normal;
	color: #7b7979;
	
	background:url(../images/common/link-pages-left.gif) left -200px no-repeat; 
	position: relative; 
	display: block; 
	white-space: nowrap; 
	padding: 0 0 0 5px;
	height: 15px; 
	line-height: 14px;
	cursor: pointer;
}

a.link-page-active:link, a.link-page-active:visited, 
a.link-page:hover {
	background:url(../images/common/link-pages-right.gif) right no-repeat; 
	text-decoration: none;
}
a.link-page-active:link span, a.link-page-active:visited span, 
a.link-page:hover span {
	background:url(../images/common/link-pages-left.gif) left no-repeat; 
	text-decoration: none;
	color: White;
}
a.link-page-active:link span, a.link-page-active:visited span {
	font-weight: bold;
}





/****************** >     LOGIN BUTTON      < ******************/
button.buttonLogin {
	background: url(../images/index/button-login-right.png) right no-repeat; 
	font-weight: normal;
}
button.buttonLogin:hover {
	/*background: url(../images/submitBtn/button-right-hover.gif) right no-repeat; */
}

button.buttonLogin span { 
	font-family: "Trajan Pro", "Times New Roman", Times, FreeSerif, serif;
	font-size: 18px; 
	height: 36px; 
	line-height: 36px;
	background: url(../images/index/button-login-left.png) left no-repeat;
	color: White; 
	font-weight: bold;
	text-transform: uppercase;
	padding: 0 0 0 25px; 
	margin-right: 20px;
}
button.buttonLogin:hover span {
	/*background: url(../images/submitBtn/button-left-hover.gif) left no-repeat;*/
	color: White; 
}




* html a.link-page-active:link, * html a.link-page-active:visited, 
* html a.link-page:link, * html a.link-page:visited, 
* html a.link-toggle-search:link, * html a.link-toggle-search:visited, 
* html #sidemenu li a:link, * html #sidemenu li a:visited, 
* html a.link-add:link, * html a.link-add:visited, 
* html a.link-header:link, * html a.link-header:visited, 
* html #subsubmenu li a.active:link, * html #subsubmenu li a.active:visited, 
* html #subsubmenu li a:link, * html #subsubmenu li a:visited, 
* html #main-menu .submenu li a:link, * html #main-menu .submenu li a:visited, 
* html #main-menu li a:link, * html #main-menu li a:visited {
	width: 1%;
}





/****************** >     LINK JUMP BOX      < ******************/
a.link-jump-box:link, a.link-jump-box:visited {
	background:url(../images/common/link-jump-box-right.gif) right no-repeat; 
	display: block;
	padding:0 18px 0 0;
}

a.link-jump-box:link span, a.link-jump-box:visited span {
	font-size: 12px;
	font-weight: bold;
	color: #b1d3de;
	
	background:url(../images/common/link-jump-box-left.gif) left no-repeat; 
	position: relative; 
	display: block; 
	white-space: nowrap; 
	padding: 0 0 0 18px;
	height: 30px; 
	line-height: 30px;
	cursor: pointer;
}


a.link-jump-box:hover {
	text-decoration: none;
}
a.link-jump-box:hover span {
	text-decoration: none;
	color: White;
}


a.link-blue-button:link, a.link-blue-button:visited {
	background:url(../images/common/link-blue-right.gif) right no-repeat; 
	display: block;
	padding:0 13px 0 0;
	float: left;
}

a.link-blue-button:link span, a.link-blue-button:visited span {
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
	background:url(../images/common/link-blue-left.gif) left no-repeat; 
	display: block; 
	white-space: nowrap; 
	padding: 0 0 0 15px;
	height: 33px; 
	line-height: 33px;
	cursor: pointer;
}

a.link-blue-button:hover {
	background:url(../images/common/link-blue-right.gif) right no-repeat; 
	text-decoration: none;
}
a.link-blue-button:hover span {
	background:url(../images/common/link-blue-left.gif) left no-repeat; 
	text-decoration: none;
	color: #e3f5fb;
}